{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static  'css/style.css' %}">
    <title>Adopcion Responsable</title>
</head>
<body>
    
    <!-- Header - menu-->
    <header>

        <div class="header-content">

            <div class="logo">
                <h1>Adopcion <b>Responsable</b></h1>
            </div>

            <div class="menu">

                <nav>
                    <ul>
                        <li><a href="#">Inicio</a></li>
                        <li class="menu-selected"><a href="#" class="text-menu-selected">Iniciar sesion</a></li>
                        <li><a href="#">Unete</a></li>
                        <li><a href="#">mas</a></li>
                    </ul>
                </nav>

            </div>

        </div>

    </header>

    <!--Portada-->
    <div class="container-cover">
        <div class="container-cover-info">
            <h1>Adopta una mascota y las historias llegarán solas</h1>
            <p>"A veces llegan sin avisar, otras somos nosotros quienes las buscamos. De cualquier manera, siempre es generoso el hecho de abrir el corazón para darle hogar a una mascota. Y ellos siempre saben como recompensarnos."</p>
        </div>
    </div>

</body>
</html>